<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover" id="tblCVVLDG" role="grid">
                <thead>
                    <tr role="row">
                        <th>
                            Bin
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Bank
                        </th>
                        <th>
                            Card Class
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            City
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>