@model List<DAL.Entities.CardClass>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Dashboard/Dashboard.js"></script>

<div class="row">
    <div class="col-xlg-12 col-financial-stocks">
        <div class="panel">
            <div class="panel-header panel-controls">
                <h3><i class="fa fa-table"></i>Card Class</h3>
            </div>
            <div class="panel-content widget-full widget-stock stock1">
                <div class="tabs tabs-linetriangle">
                    <ul class="nav nav-tabs nav-4" role="tablist">
                        @foreach (var item in @Model)
                        {
                            <li class="CardDetails" role="tab" data-toggle="tab">
                                <a href="#microsoft-tab" id="microsoft" data-toggle="tab">
                                    <span class="title">@item.ClassName</span>
                                    <span class="c-gray"><strong>@item.CardCount</strong></span>
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xlg-2 col-small-stats">
    </div>
    <div class="col-xlg-6">
    </div>
</div>
